body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #2a2a2a;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
  border: 2px solid #ffd700;
}

h1 {
  color: #ffd700;
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #ffd700;
}

p {
  color: #ff4d4d;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.search-description {
  color: #ffd700;
  font-size: 0.9em;
  margin-top: -15px;
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffd700;
  background-color: #3a3a3a;
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffd700;
  background-color: #3a3a3a;
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
}

select:not(:last-child) {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
