.footer-animation-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: 'Orbitron', sans-serif;
  color: #ffd700;
  animation: subtle-glow 4s infinite linear;
}

@keyframes subtle-glow {
  0%, 100% {
    text-shadow: 0 0 5px #ffd700;
  }
  50% {
    text-shadow: 0 0 10px #ffd700, 0 0 15px #00ffff;
  }
}
